target/classes/mavenbuild.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="mavenbuildFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/maven" doc:name="HTTP"/>
        <set-variable variableName="my_variable" value="#['var_1']" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.my_variable =='var_1']">
                <set-payload value="#['payload_response_1']" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="#['payload_response_2']" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
</mule>
